extends layout

block content
    a(href='/auth/logout') Log out Twitter
    h1= title
    h2= message
    h4= "Search for a recipe below:"

    form(action='/food', method = 'post')
        input(type='text', name='search', placeholder=' ')
        input(type='submit', action='/food')


    form(action='/restaurant', method = 'post')
        input(type='text', name='search', placeholder=' ')
        input(type='submit', action='/restaurant')