extends layout

block content
    h1= title

    p Text returned: #{JSON.stringify(result.body)}


    //.recipe.recipe_id
    //h4= response
    //input(type="text" id="search")
    //button(id="submit") Search


    //- var queryData = document.getElementById("search").value