extends layout

block content
    a(href="/") Go back to main page
    if (type == 'recipe')
        form(action='/restaurant', method = 'post') Please enter an address and try again!:
            input(type='text', name='search', placeholder=' ')
            input(type='submit', value=label, name='label', action='/restaurant')